{% extends "base_generic.html" %}

{% block extrameta %}
{% load static %}
<script src="{% static 'js/jquery.cookie.js' %}"></script>
{% endblock %}

{% block content %}

    <h1>Update Cluster</h1>
    <form method="post" id="cluster-update-form">
        {% csrf_token %}
        {{ form.as_p }}
        <h2>Mount Points</h2>
        {{ mp_formset.management_form }}
        {% for form in mp_formset %}
            {{ form.as_p }}
        {% endfor %}
        <h2>Partitions</h2>
        <div id="partitions-formset">
            {{ partition_formset.management_form }}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% for field in partition_formset.forms.0.visible_fields %}
                            <th class="col-{{ field.name }}">{{ field.label }}</th>
                        {% endfor %}
                        <th class="col-delete">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in partition_formset.forms %}
                        <tr class="partition-form">
                            {% for field in form.visible_fields %}
                                <td class="col-{{ field.name }}">
                                    <div class="form-group">
                                        {{ field.errors }}
                                        {{ field }}
                                    </div>
                                </td>
                            {% endfor %}
                            <td class="col-delete">{{ form.DELETE }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit">Save changes</button>
    </form>    

    <script>
        $(document).ready(function() {
            console.log('Document is ready');
        
            function updateMachineAvailability() {
                console.log('updateMachineAvailability called');
                var cloudZoneInput = $('#id_cloud_zone').val();
                var cloudRegionInput = $('#id_cloud_region').val();
                var tier1Input = $('#id_tier1').is(':checked').toString();
                var gpuTypeInput = $('#id_gpu_type').val();
        
                if (cloudZoneInput && cloudRegionInput) {
                    $.ajax({
                        url: "/fetch_machine_types/",
                        type: "POST",
                        data: {
                            'region': cloudRegionInput,
                            'zone': cloudZoneInput,
                            'tier_1': tier1Input,
                            'gpu_type': gpuTypeInput,
                            'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val()
                        },
                        dataType: "json",
                        success: function(data) {
                            console.log('Machine types fetched:', data.machine_types);
                            var machineTypeSelect = $(".machine_type_select:visible");
                            machineTypeSelect.empty();
                            machineTypeSelect.append(new Option('Select a category', ''));
                            $.each(data.machine_types, function(category, machines) {
                                var optgroup = $('<optgroup>').attr('label', category);
                                $.each(machines, function(i, machine) {
                                    var option = $('<option>')
                                        .text(machine.name)
                                        .attr('value', machine.id)
                                        .data('gpu_count', machine.gpu_count)
                                        .data('gpu_type', machine.gpu_type)
                                        .data('tier_1_compatible', machine.tier_1_compatible)
                                        .data('local_ssd', machine.local_ssd)
                                        .data('number_of_local_ssd_disks', machine.number_of_local_ssd_disks)
                                        .data('placement_support', machine.placement_support);  // Include placement_support in data
                                    optgroup.append(option);
                                });
                                machineTypeSelect.append(optgroup);
                            });
                        },
                        error: function(xhr, status, error) {
                            console.log('Error fetching machine types:', status, error);
                            $(".machine_type_select:visible").each(function(pos, selObj) {
                                $(selObj).empty();
                                selObj.value = '';
                            });
                        }
                    });
                } else {
                    console.log('Zone or region not set, skipping machine type update');
                }
            }
        
            function populateRegionsAndZones() {
                console.log('populateRegionsAndZones called');
                var selectedSubnet = $('#id_subnet').val();
                var csrfToken = $('[name=csrfmiddlewaretoken]').val();
        
                console.log('selectedSubnet:', selectedSubnet);
                console.log('csrfToken:', csrfToken);
        
                $.ajax({
                    url: "/fetch_regions_zones/",
                    type: "POST",
                    data: {
                        'subnet_id': selectedSubnet,
                        'csrfmiddlewaretoken': csrfToken
                    },
                    dataType: "json",
                    success: function(data) {
                        console.log('Regions and zones fetched:', data);
                        var regionSelect = $('#id_cloud_region');
                        var zoneSelect = $('#id_cloud_zone');
        
                        // Clear the existing options
                        regionSelect.empty();
                        zoneSelect.empty();
        
                        // Populate the region select
                        if (data.regions.length > 0) {
                            $.each(data.regions, function(i, region) {
                                regionSelect.append(new Option(region, region));
                            });
                            regionSelect.val(data.regions[0]);
                        } else {
                            regionSelect.append(new Option('', ''));
                        }
        
                        // Populate the zone select
                        if (data.zones && data.zones[data.regions[0]] && data.zones[data.regions[0]].length > 0) {
                            $.each(data.zones[data.regions[0]], function(i, zone) {
                                zoneSelect.append(new Option(zone, zone));
                            });
                            zoneSelect.val(data.zones[data.regions[0]][0]);
                        } else {
                            zoneSelect.append(new Option('', ''));
                        }
        
                        updateMachineAvailability();
                    },
                    error: function(xhr, status, error) {
                        console.log('Error fetching regions and zones:', status, error);
                        var regionSelect = $('#id_cloud_region');
                        var zoneSelect = $('#id_cloud_zone');
        
                        // Clear the existing options
                        regionSelect.empty();
                        zoneSelect.empty();
        
                        // Optionally, reset the values
                        regionSelect.val('');
                        zoneSelect.val('');
                    }
                });
            }
        
            function handleMachineTypeChange() {
                var selectedOption = $(this).find('option:selected');
                var gpuCount = selectedOption.data('gpu_count');
                var gpuType = selectedOption.data('gpu_type');
                var tier1Compatible = selectedOption.data('tier_1_compatible');
                var localSsd = selectedOption.data('local_ssd');
                var numberOfLocalSsdDisks = selectedOption.data('number_of_local_ssd_disks');
                var placementSupport = selectedOption.data('placement_support');  // Get placement_support
        
                console.log('Selected machine type:', selectedOption.text());
                console.log('Data attributes:', {
                    gpu_count: gpuCount,
                    gpu_type: gpuType,
                    tier_1_compatible: tier1Compatible,
                    local_ssd: localSsd,
                    number_of_local_ssd_disks: numberOfLocalSsdDisks,
                    placement_support: placementSupport  // Log placement_support
                });
        
                // Get the prefix of the current form
                var prefix = $(this).attr('id').replace('id_', '').replace('machine_type', '');
        
                // Populate GPU fields
                $('#id_' + prefix + 'GPU_per_node').val(gpuCount).prop('readonly', true);
                $('#id_' + prefix + 'GPU_type').val(gpuType).prop('readonly', true);
        
                // Populate additional fields
                $('#id_' + prefix + 'tier_1_compatible').prop('checked', tier1Compatible);
                $('#id_' + prefix + 'local_ssd').val(localSsd);
                $('#id_' + prefix + 'number_of_local_ssd_disks').val(numberOfLocalSsdDisks);
        
                // Hide GPU fields if no GPU
                if (gpuCount == 0) {
                    $('#id_' + prefix + 'GPU_per_node').parent().hide();
                    $('#id_' + prefix + 'GPU_type').parent().hide();
                } else {
                    $('#id_' + prefix + 'GPU_per_node').parent().show();
                    $('#id_' + prefix + 'GPU_type').parent().show();
                }
        
                // Hide/Show placement support and tier1 networking fields
                if (!tier1Compatible) {
                    $('#id_' + prefix + 'enable_tier1_networking').parent().hide();
                } else {
                    $('#id_' + prefix + 'enable_tier1_networking').parent().show();
                }
        
                if (!placementSupport) {
                    $('#id_' + prefix + 'enable_placement').parent().hide();
                } else {
                    $('#id_' + prefix + 'enable_placement').parent().show();
                }
            }
        
            // Event binding
            $('#id_subnet').change(function() {
                populateRegionsAndZones();
                // Clear machine type options
                $(".machine_type_select").empty().append(new Option('Select a category', ''));
            });
        
            $('#id_cloud_zone').change(updateMachineAvailability);
            $(document).on('change', '.machine_type_select', handleMachineTypeChange);
        
            // Initial population of regions and zones
            populateRegionsAndZones();
        });
    </script>    

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed; /* Add this line */
        }
    
        th,
        td {
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            padding: 20px;
            overflow: hidden; /* Add this to handle content overflow */
        }
    
        .part_formset_row td {
            vertical-align: top;
        }
    
        /* Style the select fields to fit within the table cells */
        select {
            width: 100%;
            box-sizing: border-box;
        }
    
        /* Hide the default checkbox input */
        .slider-switch input {
            display: none;
        }
    
        /* Style the slider container */
        .slider-switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
    
        /* Style the slider itself */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 34px;
        }
    
        /* Style the slider's "on" state */
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }
    
        /* When the checkbox is checked, change the background color of the slider */
        .slider-switch input:checked + .slider {
            background-color: #2196F3;
        }
    
        /* When the checkbox is checked, move the slider to the right */
        .slider-switch input:checked + .slider:before {
            transform: translateX(26px);
        }
    
        .grid-container {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: left;
            gap: 10px;
            width: 100%;
        }
    
        /* Set column widths */
        .table th.col-name, .table td.col-name { width: 10%; }
        .table th.col-machine_type, .table td.col-machine_type { width: 15%; }
        .table th.col-image, .table td.col-image { width: 10%; }
        .table th.col-dynamic_node_count, .table td.col-dynamic_node_count { width: 10%; }
        .table th.col-static_node_count, .table td.col-static_node_count { width: 10%; }
        .table th.col-enable_placement, .table td.col-enable_placement { width: 5%; }
        .table th.col-enable_hyperthreads, .table td.col-enable_hyperthreads { width: 5%; }
        .table th.col-enable_tier1_networking, .table td.col-enable_tier1_networking { width: 5%; }
        .table th.col-enable_node_reuse, .table td.col-enable_node_reuse { width: 5%; }
        .table th.col-GPU_type, .table td.col-GPU_type { width: 10%; }
        .table th.col-GPU_per_node, .table td.col-GPU_per_node { width: 10%; }
        .table th.col-boot_disk_type, .table td.col-boot_disk_type { width: 10%; }
        .table th.col-boot_disk_size, .table td.col-boot_disk_size { width: 10%; }
        .table th.col-additional_disk_type, .table td.col-additional_disk_type { width: 10%; }
        .table th.col-additional_disk_count, .table td.col-additional_disk_count { width: 10%; }
        .table th.col-additional_disk_size, .table td.col-additional_disk_size { width: 10%; }
        .table th.col-additional_disk_auto_delete, .table td.col-additional_disk_auto_delete { width: 5%; }
        .table th.col-local_ssd, .table td.col-local_ssd { width: 10%; }
        .table th.col-number_of_local_ssd_disks, .table td.col-number_of_local_ssd_disks { width: 10%; }
        .table th.col-delete, .table td.col-delete { width: 5%; }
    </style>

{% endblock %}